# Environments
.env
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
files/
Thumbs.db

# Logs
logs/
*.log

# IDEs
.idea/
.vscode/

# Project specific
agent-translator/config.yaml
agent-translator/data/usage.json
files.zip

# Custom Profiles
agent-translator/prompts/profiles/*
!agent-translator/prompts/profiles/default/
